<?xml version="1.0"?>
<launch>
    <include file="$(find mas_hsr_move_arm_action)/ros/launch/move_arm.launch" />
    <include file="$(find mas_hsr_move_base_action)/ros/launch/move_base.launch" /> 
    <include file="$(find mas_hsr_move_forward_action)/ros/launch/move_forward.launch" /> 
    <include file="$(find mas_hsr_move_arm_joints_action)/ros/launch/move_arm_joints.launch" />
    <include file="$(find mas_hsr_pickup_action)/ros/launch/pickup_action.launch" />
    <include file="$(find mas_hsr_perceive_plane_action)/ros/launch/perceive_plane.launch" />
</launch>